/* CSS */

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#player{
    width: 55px;
    height: 85px;
    position: absolute;
    z-index: 3;
    top: 5%;
    left: 5%;
}


.bot{
    width: 50px;
    height: 100px;
    position: absolute;
    z-index: 5;
}
#bot_1{
    top: 50%;
    left: 15%;
}
#bot_2{
    top: 30%;
    left: 80%;
}
#bot_3{
    top: 10%;
    left: 50%;
    transform: rotate(90deg);
}
#bot_4{
    top: 80%;
    left: 40%;
    transform: rotate(90deg);
}


#svg_1{
    position: absolute;
    top: 5%;
    left: 25%;
}

#svg_2{
    position: absolute;
    top: 50%;
    left: 40%;
}


.island{
    width: 190px;
    height: 200px;
    position: absolute;
}
#island_1{
    top: 60%;
    left: 80%;
}
#island_2{
    top: 10%;
    left: 30%;
}
#island_3{
    top: 70%;
    left: 20%;
}


#gameOverScreen{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(206, 28, 22, 0.582);
    display: none;
    justify-content: center;
    align-items: center;
}
#game_over_container{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(167, 16, 16);
    padding: 5%;
    width: 30%;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2em;
}

.portals{
    width: 150px;
    height: 185px;
    position: absolute;
    z-index: 2;
}

#chrono{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    position: absolute;
    top: 2%;
    left: 49%;
    z-index: 10;
    color: white;
}

#gem{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 20%;
    left: 55%;
    z-index: 2;
}

#control_screen{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
}

#startButton{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#gameOverButton{
    background-color: transparent;
    color: white;
    font-family: 'Popins', sans-serif;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 5px;
    padding-top: 10px;
    font-size: 0.5em;
    font-weight: 300;
}

#scoreDiv{
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: rgb(41, 41, 41);
    color: rgb(139, 139, 139);
    font-family: 'Popins', sans-serif;
    font-size: 2em;
    font-weight: 600;
    z-index: 50;
    padding: 10px 20px;
    margin: auto;
    display: none;
    text-align: center;
}